@use "../../App.scss" as *;

.product-card {
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;

  &:hover {
    .top-img {
      opacity: 0;
    }
  }

  .product-image {
    height: 220px;

    img {
      object-fit: cover;
      position: absolute;
      left: 0;
      -webkit-transition: opacity 0.3s ease-in-out;
      -moz-transition: opacity 0.3s ease-in-out;
      -o-transition: opacity 0.3s ease-in-out;
      transition: opacity 0.3s ease-in-out;
    }
  }

  &:hover {
    .action-bar {
      right: 5px;
    }
  }

  h6 {
    color: var(--title-color);
    font-size: 13px;
  }

  h5 {
    max-width: 175px;
    font-size: 15px;
    color: var(--text-color);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  p {
    font-size: 16px;
    color: #1c1c1b;
  }

  .action-bar {
    @include transition;
    top: 9%;
    right: -23px;
  }

  .wishlist-icon {
    top: 0.7%;
    right: 6px;
    z-index: 99;
  }
}

.static-banner {
  padding: 20px 15px 0;
  background-color: var(--third-color);
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 98.5%;

  .static-banner-image {
    bottom: 45px;
  }

  h5,
  p {
    font-size: 12px;
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  h4 {
    font-size: 20px;
    margin-bottom: 0;
    padding-bottom: 4px;
  }
}

.filter-product {
  padding: 10px;
  height: 98.5%;
  color: #2125295e;

  .filter-product-image {
    width: 50px;
  }
}

.filter-product-wrapper.active {
  span {
    color: var(--text-color);
  }
}
