.wrapper {
  padding: 40px;

  & > div {
    width: 50%;
  }

  input,
  textarea {
    width: 90%;
    padding: 15px;
    background-color: rgba(212, 212, 212, 0.39);
    border: none;

    &:focus {
      background-color: rgba(212, 212, 212, 0.747);
    }
  }

  textarea {
    margin-bottom: 30px;
  }

  .title {
    font-size: 24px;
  }

  label {
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .liHasLink {
    a {
      &:hover {
        color: var(--link-hover-color);
      }
    }
  }

  li {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #777777;
    font-weight: 400;
    margin: 35px 0;

    address {
      margin-bottom: 0;
    }

    a {
      color: #777777;
    }
  }
}
